* {
  font-family: 'Robot', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#add-book {
  font-size: 18px;
  padding: 15px;
  margin: 20px;
}

#submit-form {
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

#submit-form.show {
    pointer-events: auto;
    opacity: 1;
}

.card {
  border: black solid 1px;
  width: 250px;
  font-size: 16px;
  padding: 15px;
  text-align: center;
}

.card div:nth-child(3) {
  margin-bottom: 12px;
}

#card-wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.book-read {

}

.book-not-read {

}
